.brand-list {

    display: flex;
    padding: 30px 0px 26px;
    justify-content: space-evenly;
    max-width: 98%;
    max-height: 100%;

    .brand {
        position: relative;
        margin-right: 30px;
        height: auto;
        border-radius: 10px;
        background-color: #17181f;
        cursor: pointer;
        z-index: $ELEVATION-3;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: $ELEVATION-6;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }

        &:hover {
            transform: scale(1.05);

            video {
                opacity: 1;
                z-index: $ELEVATION-4;
              }
        }
    }



}