.movie-description {

    display: flex;
    z-index: $ELEVATION-3;
    min-height: 100%;
    max-width: 50%;
    padding-top: 20px;
    
    .description {
        
        min-width: 20%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: $ELEVATION-3;
        
        
        img.img-title {
            width: 60%;
            height: 100%;
        }
        
        span {
            font-family: Inter-Regular;
            letter-spacing: 1.1px;;
            z-index: $ELEVATION-3;
            font-size: 1.25rem;
            margin-top: 10px;
            line-height: 1.4;
        }

        .font-weight{
            font-weight: 700;
        }

    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, #101218 8.6%, rgba(16, 18, 24, 0));
        z-index: $ELEVATION-3;
    }

}