// COLOR PALETTE
$clr1: #101218;
$clr2: #fff;

//FONT SIZE
$BODY1-MEDIUM-SIZE: 16px;

//LAYOUT
$ELEVATION-1: 1;
$ELEVATION-2: 2;
$ELEVATION-3: 3;
$ELEVATION-4: 4;
$ELEVATION-5: 5;
$ELEVATION-6: 6;
$ELEVATION-7: 7;
$ELEVATION-8: 8;


$SIDE-NAV-MAX-WIDTH: 16.125rem;
$SPACE-00: 0;
$SPACE-01: 2px;
$SPACE-02: 4px;
$SPACE-03: 8px;
$SPACE-04: 12px;
$SPACE-05: 16px;
$SPACE-06: 20px;
$SPACE-07: 24px;
$SPACE-08: 32px;
$SPACE-09: 40px;
$SPACE-10: 48px;
$SPACE-11: 56px;
$SPACE-12: 64px;
$SPACE-13: 80px;
$SPACE-14: 96px;
$SPACE-15: 112px;
$SPACE-16: 128px;
$SPACE-17: 148px;
$SPACE-18: 172px;
$SPACE-19: 200px;
$SPACE-20: 232px;
$SPACE-22: 296px;
$ICON-FONTSIZE-03: 20px;

$LOGO-PADDING: $SPACE-08 $SPACE-04;
$MASTHEAD-BOTTOM-GRADIENT: linear-gradient(180deg,rgba(15,16,20,0) 30%,#0f1014);
$MH-CONTAINER-MAXIMUM-HEIGHT: 56.25vw;
$MH-CONTAINER-MINIMUM-HEIGHT: 50vw;
$NAV-ITEM-X-PADDING: $SPACE-07;
$NAV-ITEM-ICON-X-PADDING: $SPACE-03;
$SIDENAV-WIDTH: calc($NAV-ITEM-X-PADDING*2 + $NAV-ITEM-ICON-X-PADDING*2 + $ICON-FONTSIZE-03); 
$PAGE-CONTENT-LEFT-SPACE: calc($SIDENAV-WIDTH + $SPACE-07);
$PAGE-CONTENT-RIGHT-SPACE: $SPACE-12;
$PROFILE-LAYOUT-CONTAINER-WIDTH: 46rem;
$PROFILE-LAYOUT-CONTENT-TOP-PADDING: 6.269rem;
$PROFILES-CONTAINER-WIDTH: 41.25rem;

$LIST-SPACING: 44px;

